namespace: vidimensional
name: collection
description: Collection of Ansible plugins and modules for my usage.
version: "{{ version }}"
readme: "README.md"
authors:
  - "Daniel Vidal de la Rubia (https://github.com/vidimensional)"
repository: https://github.com/Vidimensional/ansible_collection
homepage: https://github.com/Vidimensional/ansible_collection/blob/main/README.md
issues: https://github.com/Vidimensional/ansible_collection/issues
documentation: https://github.com/Vidimensional/ansible_collection/blob/main/docs/index.md
license:
  - "WTFPL"
tags:
  - github
  - releases
  - lookup
  - vidimensional
