namespace: vidimensional
name: collection
description: Lookup release information for a given GitHub repository.
version: "{{ version }}"
readme: "README.md"
authors:
  - "Daniel Vidal de la Rubia (https://github.com/vidimensional)"
repository: https://github.com/Vidimensional/ansible_collection
homepage: https://github.com/Vidimensional/ansible_collection
issues: https://github.com/Vidimensional/ansible_collection/issues
documentation: https://github.com/Vidimensional/ansible_collection/blob/main/docs/index.md
license:
  - "WTFPL"
tags:
  - github
  - releases
  - lookup
  - vidimensional
