# {{ doc.name }} lookup

![example workflow](https://github.com/Vidimensional/ansible_github_releases_lookup/actions/workflows/tests.yaml/badge.svg)

{{ doc.short_description }}

## Table of contents

- [Synopsis](#synopsis)
- [Requirements](#requirements)
- [Examples](#examples)
- [Keyword parameters](#keyword-parameters)
- [Author](#author)

## Synopsis

{{ doc.description }}

## Requirements
{% for req in doc.requirements %}
- {{ req -}}
{% endfor %}

## Examples

```yaml
{{ examples }}
```

## Keyword parameters

{% for key in doc.options %}
#### {{ key }}

- **Description:** {{ doc.options[key].description }}
- **Type:** {{ doc.options[key].type }}
- **Required:** {{ doc.options[key].required }}
- **Version added:** {{ doc.options[key].version_added }}
{% if doc.options[key].choices is defined %}- **Choices:**
{%- for choice in doc.options[key].choices %}
  - {{ choice }}
{%- endfor %}
{% endif %}
{% endfor %}

## Author

- Daniel Vidal de la Rubia ([@vidimensional](https://github.com/Vidimensional))
